@{
    ViewData["Title"] = "About";
}


<section class="slating">
    <div class="centereddh_text"><h2 class="">About</h2></div>
    <img src="../images/Inner-banner.jpg" class="img-fluid" alt="Responsive image" style="width:100%;">
</section>







<section id="" class="">
    <div class="container pb-3">
        <div class="row">



            <div class="col-md-9 wow fadeInUp" data-wow-delay="0.1s">
                <div class="title_box pb-4"><h1>About Star Matrix</h1></div>

                <br>




                <h4 class="style01 pb-4"> Star Matrix Ltd, pioneered in 1990, is one of the largest cash buyers, with an indomitable empire, in the ship recycling industry today.</h4>
                <p class="text-justify">
                    The Revolutionaries who crafted this extraordinary enterprise and set it rolling with a Boomerang effect are; Mr. Sanjeev Jain, The proprietor, who is a very well renowned figure around the world, with a current experience of 30 yrs in the industry and Mr. Siddhant Jain,who studied at the Institute of Chartered Ship Brokers, currently is the purchasing head of the company. The duos professional experience and engineering skills combined with Finance expertise has raised the company to soaring heights.
                </p>

                <p class="text-justify">
                    The dynamic duo, with their unique blend of brawn versus brains, have set forces with their giant devotion to purpose, urgency, clarity and time management. Together they have put “Method to madness” with their superb execution around deliveries, accurate forecast of market trends and evaluation of tonnage. Star Matrix have triggered the positive feedback loop of more action, more results, more confidence. Under their Leadership, Star Matrix is willing to take risk and play out on the skinny branches with well thought plans and articulate team of employees who are thoroughly seasoned in the trade. The unique duo believes in relationship building and ensures the well being and satisfaction of their clients and employees alike. Its no big wonder that Star Matrix is growing exponentially, with multiple collaborations with agents/owners across the globe and has offices in Hong Kong, Mumbai, London and Bhavnagar.
                </p>







            </div>




            <div class="col-md-3 wow fadeInUp" data-wow-delay="0.3s">

                <div class="list-group margin_top ">
                    <div class="list-group-item list-group-item-success slating2"><h4 class="pt-2 text-white"> <img src="../images/b6qr1-co5lk.svg" alt="" width="40" /> Sub Menu</h4></div>
                    <a href="About.html" class="list-group-item bg-dark right_paneldhy"> <i class="fa fa-star" aria-hidden="true"></i> About Star Matrix</a>
                    <a href="About-Demolition.html" class="list-group-item bg-dark right_paneldhy "> <i class="fa fa-star" aria-hidden="true"></i> Demolition</a>
                    <a href="About-Recycling.html" class="list-group-item bg-dark right_paneldhy"> <i class="fa fa-star" aria-hidden="true"></i> Recycling</a>
                    <a href="About-Why-Star-Matrix.html" class="list-group-item bg-dark right_paneldhy"> <i class="fa fa-star" aria-hidden="true"></i> Why Star Matrix</a>

                    <a href="#" class="list-group-item list-group-item-success mt-2"><h6 class=" text-white">Company Presentation</h6></a>
                    <a href="#" class="list-group-item list-group-item-success mt-2"><h6 class=" text-white">Download Brochure</h6></a>



                </div>
            </div>


        </div>



    </div>  </div>
</section>



<section id="Milestones">

    <div class="container">
        <header class="section-header">
            <h3>Milestones</h3>
        </header>



        <div class="timeline">
            <div class="timeline__wrap">
                <div class="timeline__items">
                    <div class="timeline__item">
                        <div class="timeline__content">
                            <h2>2018</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dignissim neque condimentum lacus dapibus. Lorem
                                ipsum dolor sit amet, consectetur adipiscing elit. Integer dignissim neque condimentum lacus dapibus.
                            </p>
                        </div>
                    </div>
                    <div class="timeline__item">
                        <div class="timeline__content">
                            <h2>2015</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dignissim neque condimentum lacus dapibus.</p>
                        </div>
                    </div>
                    <div class="timeline__item">
                        <div class="timeline__content">
                            <h2>2014</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dignissim neque condimentum lacus dapibus.</p>
                        </div>
                    </div>
                    <div class="timeline__item">
                        <div class="timeline__content">
                            <h2>2012</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dignissim neque condimentum lacus dapibus.</p>
                        </div>
                    </div>
                    <div class="timeline__item">
                        <div class="timeline__content">
                            <h2>2010</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dignissim neque condimentum lacus dapibus. Lorem
                                ipsum dolor sit amet, consectetur adipiscing elit.
                            </p>
                        </div>
                    </div>
                    <div class="timeline__item">
                        <div class="timeline__content">
                            <h2>2007</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dignissim neque condimentum lacus dapibus.</p>
                        </div>
                    </div>
                    <div class="timeline__item">
                        <div class="timeline__content">
                            <h2>2004</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dignissim neque condimentum lacus dapibus.</p>
                        </div>
                    </div>
                    <div class="timeline__item">
                        <div class="timeline__content">
                            <h2>2002</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dignissim neque condimentum lacus dapibus.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dignissim neque condimentum lacus dapibus.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>

<script type="text/javascript" src="~/js/timeline.min.js"></script>


<script>
        timeline(document.querySelectorAll('.timeline'), {
            forceVerticalMode: 700,
            mode: 'horizontal',
            verticalStartPosition: 'left',
            visibleItems: 4
        });
</script>