
@{
    ViewData["Title"] = "Sitemap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="slating">   
    <img src="~/images/Inner-banner.jpg" class="img-fluid" alt="Responsive image" style="width:100%;">
</section>







<section id="" class="">
    <div class="container pb-3">
        <div class="row">

            <div class="col-lg-12">
                <div class="sitemap_box">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Sitemap</li>
                    </ol>
                </div>
            </div>



            <div class="col-md-7 wow fadeInUp" data-wow-delay="0.1s">
                <div class="title_box pb-4"><h1>Sitemap</h1></div>

                <br>



                <ul class="">

                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="About"><b>About</b></a>
                        <ul>
                            <li>About Star Matrix </li>
                            <li>Demolition</li>
                            <li>Recycling</li>
                            <li>Why Star Matrix</li>

                        </ul>


                    </li>

                    <li><a asp-area="" asp-controller="Home" asp-action="Recycling"><b>Recycling</b></a></li>

                    <li><a asp-area="" asp-controller="Home" asp-action="Towage"><b>Towage</b></a></li>

                    <li><a asp-area="" asp-controller="Home" asp-action="Location"><b>Location</b></a></li>

                    <li><a asp-area="" asp-controller="Home" asp-action="Contact"><b>Contact</b></a></li>


                </ul>










            </div>



            <div class="col-md-5 wow fadeInUp" data-wow-delay="0.1s">

                <img class="img-fluid" src="~/images/sitemap.jpg" alt="" />
            </div>



        </div>



    </div>
</section>

